.bg-main {
    background-image: url("bg.png");
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Consolas;
    font-size: 150%;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,h3{
    font-size:300%;
}
.home-container button {
    font-size: 100px;
}
.home-container button span {
    margin: 10px;
    font-size: 45%;
}

.kbp-logo{
    width:145px;
    height:145px;
    background-size: cover;
    background-image: url('/logo-kbp.png')
}

.space{
    margin-top:30px;
}