#navbar {
    background: #fffcfe;
    padding: 0%;
    z-index: 100000;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    margin-bottom: 2%;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.13) 0 1px 20px;
    transition: all ease-in-out 0.8s;
}