.Page{
display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 14%;
    padding-right: 23%;
    grid-column-gap: 7%;
    grid-row-gap: 2%;
}

.Header{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5vh;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.main{
    justify-content: center;
    align-content: center;
    justify-items: center;
}