@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Page{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 14%;
    padding-right: 23%;
    grid-column-gap: 7%;
    grid-row-gap: 2%;
}

.Header{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.main{
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.discr{
    font-family: 'Montserrat', sans-serif;
    color: #fffcfe;
    position: absolute;
    top: 40%;
    z-index: 200;
    left: 2%;
}
