.TestPageBody{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#130e87+19,ff1396+100 */
    background: #130e87; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #130e87 19%, #ff1396 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #130e87 19%,#ff1396 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #130e87 19%,#ff1396 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130e87', endColorstr='#ff1396',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.Welcome{
    height: 60vh;
    width: 60vw;
    background-color: white;
    border-radius: 2vh ;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    flex-direction: column;
    font-style: italic;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 5vh;
}
.header{
    font-size: 3.2vw;
    font-weight: bolder;
    color: #212121;
}
.discripton{
    font-size: 2vw;
    font-weight: bolder;
    color: rgba(33, 33, 33, 0.75);
}

.triangle,
.triangle:before,
.triangle:after {
    width:  3em;
    height: 3em;
    position: relative;
    background: #130E87;
    border-top-right-radius: 30%;
    border-color: #130e87;
    border-width: 22px;
}
.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

.triangle {
    transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


.pad{
    width: 200px;
    position: absolute;
    float: left;
    margin-left: 75%;
    margin-top: 25%;
}