@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.TestPageBody{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#130e87+19,ff1396+100 */
    background: #130e87; /* Old browsers */
    background: -webkit-linear-gradient(left, #0022cb 0%,#3fd3d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130e87', endColorstr='#ff1396',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    padding-left: 10%;
    padding-right: 10%;
}
.TestPageBody2{

}

.AlignText{
    text-align: center;
}
.some {
    margin-right: 5%;
}

.center
{
    align-items: center;
    align-content: center;
    justify-content: center;
}
.Welcome{
    margin-top: 10%;
    width: 70%;
    height: 90%;
    background-color: white;
    border-radius: 7vh ;
    display: grid;
    justify-self: center;
    font-family: Helvetica;
    padding-bottom: 30%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 50%;
    font-style: italic;
    font-size: 5vh;
    margin-bottom: 10%;
}
.header{
    color: #eeeeee;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Montserrat;
    margin: auto;
    text-align: center;
    align-self: center;
    margin-left: 45%;
    font-size: 3.7vw;
    color: #212121;
}
.discripton{
    font-size: 2vw;
    font-weight: bolder;
    color: rgba(33, 33, 33, 0.75);
    padding-left: 10vw;
 
}

.triangle{
    height: 100px;
    width: 100px;
    background-color: #130e87;
}

.pad{
    padding-top: 20vh;
    padding-right: 10%;
    width: 40vw;
    height: 40vh;
}
.mainRend{
    display: flex;
    float: right;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.hs{
    width: 50vw;
    color: rgb(255, 253, 249);
    align-content: center;
    align-self: center;
    text-align: center;
    float: none;
    font-family: Montserrat;
    font-size: 300%;
}



.QuizRender{
    height: 100.1vh;
    width: 50vw;
    background-color: white;
    border-bottom-left-radius: 2vh ;
    display: grid;
    /*margin: auto;*/
    justify-self: center;
    justify-content: center;
    justify-items: center;
    /*padding-top: 10vh;*/
    grid-column-start: 2;
    grid-row-start: 1;
    grid-template-rows:  20%;
}
.Pointstyle{
    width: 40vw;
    height: 4vh;
    position: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-bottom: 4.5vh;
    align-content: center;
    align-items: center;
    border-radius:50px;
    box-shadow: 1px 2px 7px 4px rgba(0, 0, 0, 0.07);
    font-style: italic;
    font-size: 3vh;
    transition: transform 0.07s ease-in-out;
}

.Pointstyle:hover {
    box-shadow: 1px 10px 20px 5px rgba(0, 0, 0, 0.16);
    transform: scale(1.05);
}
.bg {
    background-color: #96ff63;
}
.answer{
    text-align: center;
    font-family: Helvetica;
    font-size: 1.5vw;
}

.arrow
{
    justify-self: center;
    justify-content: center;
    margin: 1px;
    width: 20%;
    height: 20%;
}

.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .4s;

}
.progress{

    float: bottom;
    height: 16%;
    width: 100%;
}
.progress-bar{
    width: 20px;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}
.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.justify_content{

    justify-items: center;
    justify-content: center;
    margin: auto;
}

.prog{
    margin-top: 1vh;
    float: bottom;
    height: 20%;
    width: 140%;
}

.end{
    width: 40vw;
    height: 5vh;
    padding-top: 1%;
    transition: all ease-in-out 0.2s;
}
.end:hover{
    transform: scale(1.1);
    box-shadow: 1px 10px 20px 5px rgba(0, 0, 0, 0.16);
}
.toHome{
    background: linear-gradient(135deg, #130e87 19%,#ff1396 100%);
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}
.pos
{
    z-index: 1000;
    position: absolute;
    margin-left: 3%;
    margin-top: 0%;
    text-align: center;
    color: #eeeeee;
}
.Home{
    background: linear-gradient(135deg, #130e87 19%,#ff1396 100%);
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
}
.Home:hover .toHome{
    filter: blur(20px);
}

.strelka{
    transition: all ease-in-out 0.2s;
}

.strelka:hover{
    transform: scale(0.9);
}
.Header2{
    font-size: 200%;
    margin-top: 13%;
}
.HeaderInput {
    background-color: rgba(0,0,0,0);
    border: 10px solid;
    align-content: center;
    width: 900px;
    height: 750px;
    font-size: 100%;
    resize: none;
}
@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
    .justify_content{
        margin-top: 40%;
    }
}
.MakeDes{
    margin-bottom: 5%;
}